{% extends 'client/client_main_page.html' %}

{% block title %}
    Resumes
{% endblock%}

{% block content %}
     <h1 class="mb-5"> Resumes: </h1>

    {% for resume in resumes %}

        <div class="card mb-4">
            <div class="card-header">
                <b id="addition"> </b>
                    <script>
                        var x = {{ resume.vacancies_in_waiting.count }};
                        var y = {{ resume.vacancies_accept.count }};
                        var z = {{ resume.vacancies_reject.count }};
                        var s = x + y + z;
                        document.getElementById("addition").innerHTML = s;
                    </script>

                <b>
                    Всего вакансий по резюме: {{ resume.vacancies_in_waiting.count }} + {{ resume.vacancies_accept.count }} + {{ resume.vacancies_reject.count }}    |
                    Принято: {{ resume.vacancies_accept.count }}    |    Отктонено: {{ resume.vacancies_reject.count }}
                </b>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ resume.state }}</h5>
                <a href="{{ resume.get_absolute_url }}" class="btn btn-secondary">Подробнее</a>
            </div>

        </div>
    {% endfor %}


{% endblock %}