{% extends 'client/client_main_page.html' %}

{% block title %}
    Настройки уведомлений
{% endblock%}

{% block content %}
    <p>Управление уведомлениями</p>
    <div class="btn-group" role="group" aria-label="Basic example">

        <button type="button" class="btn btn-secondary" id="off" disabled>Выключить</button>
        <button type="button" class="btn btn-secondary" id="on" disabled>Включить</button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="{% url 'client' %}" class="btn btn-secondary">Назад</a>
    </div>


<script>
$('document').ready(function () {
    var on_off = {{ status }}
        console.log(on_off);
    if (on_off){$('#off').attr('disabled', false)}
    else {$('#on').attr('disabled', false)}


    /*actions for buttons*/
    $('#off').on('click',function () {
        $.ajax({'url':'/client/on_off/',
                'data':{'status': 'off'},
                success:function (data) {
                    console.log(data);
                    $('#off').attr('disable', true)
                    $('#on').attr('disable', false)
                }})

    });
    $('#on').on('click',function () {
        $.ajax({'url':'/client/on_off/',
                'data':{'status': 'on'},
                success:function (data) {
                    console.log(data)
                    $('#off').attr('disable', false)
                    $('#on').attr('disable', true)
                }})

    });
})

</script>
{% endblock %}



